body {
  font-family: sans-serif;
  background-color: skyblue;
}

img {
  margin-right: 6px;
}

.column {
  float: left;
  width: 400px;
  padding: 0 0 0 5px;
}

.float {
  float: left;
  max-width: 200px;
  max-height: 30%;
  border: 2px solid black;
}

.zdogs {
  background-color: red;
  font-weight: bold;
  font-style: italic;
  color: white;
}

.picdiv {
  min-height: 200px;
}
